

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --font-poppins:'Poppins', sans-serif;
}
.fortest{
    height: 100vh;
}
body{
    margin: 0;
}
body a{ 
    text-decoration: none;
    color: initial;
}
.qa-container{
    padding-inline: 20px;
}
.head-wrapper{
    position: relative;
    background-color: #FFC102;
    border-radius: 0 0 30px 30px;
    padding-block: 25px;
    z-index: 1;
}
.head-wrapper::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 10%;
    filter: blur(4);
    background: url(../images/background-addons.png) no-repeat top / cover;
    z-index: -1;
}
.name-and-profile{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.qa-back-arrow a i{
    font-size: 35px;
    color: #fff;
}
.greeting-name h2{
    font-size: 25px;
    font-family: var(--font-poppins);
    color: #fff;
    font-weight: 600;
}
.user-profile img{
    border: 4px solid #fff;
    width: 100%;
    border-radius: 50%;
}
.popular-quiz-holder{
    margin-top: 10px;
    position: relative;
    z-index: 2;
}
.popular-quiz-holder h3{
    font-size: 20px;
    font-family: var(--font-poppins);
    font-weight: 600;
    color: #fff;
}
.popular-qa-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.qa-holder{
    display: block;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    display: grid;
    align-items: center;
    gap: 20px;
}
.qa-holder p{
    font-family: var(--font-poppins);
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: start;
    margin: 0;
}
.qa-holder .icon-container{
    display: flex;
    justify-content: center;
}
.qa-holder .icon-container i{
    text-align: center;
    color: #FFAD00;
    font-size: 4rem;
}
.explore-title-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 15px 10px;
}
.explore-title-wrap h3{
    font-size: 20px;
    font-family: var(--font-poppins);
    font-weight: 600;
    color: #000;
}
.explore-title-wrap a{
    display: block;
    font-size: 15px;
    font-family: var(--font-poppins);
    font-weight: 400;
    color: #373737;
}
.explore-wrapper .explore-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.explore-grid .qa-holder{
    transition: 0.2s linear;
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.10), 2px 1px 3px 0px rgba(0, 0, 0, 0.09), 5px 3px 3px 0px rgba(0, 0, 0, 0.05), 9px 5px 4px 0px rgba(0, 0, 0, 0.01), 14px 8px 4px 0px rgba(0, 0, 0, 0.00);
}
.explore-grid .qa-holder:hover,
.explore-grid .qa-holder:focus{
    background-color: #f2efef;
}

/* quiz page  */
.quiz-page .head-wrapper{
    padding-block: 25px 0;
}
.quiz-head-inner{
    display: flex;
    justify-content: space-between;
}
.quiz-head-inner .qa-nav-icon i{
    color: #fff;
    font-size: 30px;
}
.qa-score-wrapper{
    padding-inline: 10px;
}
.score-value-holder{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 100px;
    padding-inline: 10px;
    border-radius: 20px 20px 0 0;
}
.score-value-holder .answer-true p,
.score-value-holder .answer-fales p,
.score-value-holder .current-question p,
.question-outof-holder p{
    font-size: 20px;
    font-family: var(--font-poppins);
    font-weight: 600;
}
.score-value-holder .answer-true p{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1F8435;
    height: fit-content;
}
.score-value-holder .answer-fales p{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #D05A04;
    height: fit-content;
}
.score-value-holder .answer-true p span,
.score-value-holder .answer-fales p span{
    width: 30px;
    height: 10px;
    display: inline-block;
    border-radius: 6px;
    background-color: #D05A04;
    max-width: 60px;
}
.score-value-holder .answer-true p span{
    background-color: #1F8435;
}
.question-end{
    display: grid;
    margin-top: -50px;
}
.score-value-holder .current-question{
    position: relative;
}
.score-value-holder .current-question{
    width: 100%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    max-width: 100px;
    height: 100px;
    margin-inline: auto;
}
.score-value-holder .current-question p{
    font-size: 25px;
    font-weight: 600;
    color: #FEB005;
    padding: 5px;
    text-align: center;
}
.current-question span{
    width: 80%;
    height: 80%;
    display: block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid #FEB005;
    border-top-color:transparent ;
    margin: auto;
    border-radius: 50%;
}
.question-outof-holder p{
    color: #FEB005;
}

.quiz-sec-wrap{
    display: grid;
    row-gap: 60px;
}
.question-container{
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 5px 4px 2px #FBECFF;
    margin-inline: 10px;
}
.question-container p{
    font-family: var(--font-poppins);
    font-size: 20px;
    color: #000;
    font-weight: 500;
    text-align: center;
}
.quiz-option-container{
    margin-top: 15px;
}
.options-wrap{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 25px;
}
.quiz-label{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    border: 2px solid #FFB504;
    border-radius: 20px;
    cursor: pointer;
}
.quiz-label p{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    font-family: var(--font-poppins);
}
.quiz-label div{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
}
.quiz-label div span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    position: absolute;
    top: 23px;
    left: -5px;
    width: 25px;
    height: 25px;
    border: 1px solid #FFB504;
    background-color: #F5F5F5;
    z-index: -1;
    border-radius: 50%;
}
.quiz-label div span i{
    font-size: 18px;
    color: #fff;
}
.quiz-label div input{
    opacity: 0;
}
.quiz-label div input:checked ~ span{
    background-color: #FFB504;

}
.quiz-label div input:checked ~ span i{
    opacity: 1;
}